:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent: #2196f3;
    --button-hover: #188ce8;
    --logo-color: #000000;
    --invert-text-color: #ffffff;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --third-background-color: #2f303a;
  }
body{
    background-color: #FFFFFF(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    Line height: 1.2;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.839;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.logo-studio{
    color: #212121;
}
.list-nav{
  text-decoration: none;
}
.item-nav{
  list-style: none;
}
.item-nav .current {
  color: #2196F3;
}
.link-header {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-header:hover, 
.link-header:focus {
  color: #2196F3;
}
.item-contact{
  list-style: none;
}
.link-contact{
  color:  #757575;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-contact:hover,
.link-contact:focus {
  color: #2196F3;
}
.main-page {
    background: #2F303A;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.support {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px ;
    font-size: 16px;
    line-height: 1.9;
    color: #FFFFFF;
    cursor: pointer;
}
.facts-list {
  text-decoration: none;
}
.facts-item{
  list-style: none;
}
.facts-title {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: #212121;
}
.facts-text{
    line-height: 1.7;
    color: #757575;
}
.section-title{
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color:#212121;
}
.list-presentation{
  text-decoration: none;
}
.item-presentation{
  list-style: none;
}
.list-team{
  text-decoration: none;
}
.team-card{
    list-style: none;
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  
.team-desc {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #757575;
  }
  footer{
    background: #2F303A;
  }
  .logo-studio-footer{
    color: #FFFFFF;
  }
  address{
    font-style: normal;
  }
  .footer-list{
    text-decoration: none;
  }
  .footer-item{
    list-style: none;
  }
  .footer-link{
    text-decoration: none;
    line-height: 1.7;
    color:  #FFFFFF;
  }
.addreses{
  color: var(--invert-text-color);
}
.button-list{
  text-decoration: none;
}
.button-item{
  list-style: none;
}
.button-portfolio{
    background: #F5F4FA;
    color: #212121;
    font-size: 16px;
    line-height: 1.63;
    text-align: center; 
    cursor: pointer;
}
.button-portfolio:hover{
    color: #2196F3;
}
.service{
  text-decoration: none;
}
.service-card {
  list-style: none;
  }
  .service-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
.service-text{
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}